/* Mobile Styles */
@media only screen and (max-width: 767px) {
    
    .hero-section .overlay .circle:nth-child(1){
        width: 100px !important;
        height: 100px !important;
    }

    .hero-title{
        font-size: 22px !important;
        margin-bottom: 10px;
    }

    .hero-subtitle{
        font-size: 14px !important;
    }

    .hero-section {
        height: calc(100vh - 66px) !important;
    }
    #about-us{
        padding: 30px 0 !important;
    }

    .section-heading{
        font-size: 22px !important;
    }

    .text-muted{
        font-size: 13px !important;
    }

    .service-card p{
        font-size: 13px !important;
    }

    #latest-news{
        padding: 30px 0 !important;
    }

    #services-overview{
        padding: 30px 0 !important;
    }

    .service-card .icon{
        flex: 20% !important;
    }

    #footer p{
        font-size: 11px !important;
    }

}

  /* Tablet Styles */
  @media only screen and (min-width: 768px) and (max-width: 1024px) {

  }