/* Mobile Styles */
@media only screen and (max-width: 767px) {
    .hero-section {
        height: calc(100vh - 66px) !important;
    }
    #about-us{
        padding: 30px 0 !important;
    }

    .section-heading{
        font-size: 22px !important;
    }

    .text-muted{
        font-size: 13px !important;
    }

    .service-card p{
        font-size: 13px !important;
    }

    #services-overview{
        padding: 30px 0 !important;
    }
}

  /* Tablet Styles */
  @media only screen and (min-width: 768px) and (max-width: 1024px) {

  }